**/node_modules
**/.next
**/out
**/.git
**/.github
**/terraform
**/examples
**/scripts
**/coverage
**/.vscode
**/.idea
**/*.log
README.md
CONTRIBUTING.md
LICENSE
config.yaml
.env
.env.local
Dockerfile
.dockerignore
.prettierrc
vitest.config.ts
